# Environment
NODE_ENV=development

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=project_management

# API Configuration
API_URL=http://project-mmanagement.gg.sa:3030/api

# Logging Configuration
LOG_LEVEL=info           # Options: fatal, error, warn, info, debug, trace (same for dev & prod)
LOG_PRETTY=false          # true=colored output (dev), false=JSON output (prod)
