# Node environment
NODE_ENV=development

# Web Configuration
WEB_PORT=3000
NEXT_PUBLIC_API_URL=http://localhost:3030/api

# Azure AD Authentication (get these from your Azure AD App Registration)
AZURE_AD_CLIENT_ID=id
AZURE_AD_CLIENT_SECRET=id
AZURE_AD_TENANT_ID=id

# NextAuth Configuration
NEXTAUTH_SECRET=base64 id generated
NEXTAUTH_URL=http://login.localhost.mngdp.com:3000
